@font-face {
    font-family: "Gabriela";
    src: url(../file/font/Gabriela-Regular.ttf)
}

h1, p, a {
    font-family: "Gabriela";
    font-weight: bolder;
    font-style: normal;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
}

p {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: rgb(66, 170, 255);
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

.background-1 {
    background-image: url(../file/background/minecraft.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    align-content: stretch;
}

@media screen and (width >= 1024px) {
    .section-1 {
        background-color: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(4px);
        max-width: 512px;
        width: 100%;
        padding: 8px;
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-content: center;
        gap: 32px 0;
    }
}

@media screen and (width < 1024px) {
    .section-1 {
        background-color: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(4px);
        padding: 8px;
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-content: center;
        gap: 32px 0;
    }
}

.section-1 img {
    width: 64px;
    height: 64px;
    border-radius: 16px;
}

.section-1 h1 {
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.section-1 a {
    padding: 8px;
    border: 1px solid rgb(66, 170, 255);
}

.background-2 {
    background-color: rgb(10, 10, 10);
    min-height: 50vh;
    padding: 8px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

.section-2 {
    max-width: 512px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: left;
}

.section-2 h1 {
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 16px;
}

.section-2 p + p {
    margin-top: 8px;
}

.background-3 {
    background-color: rgb(36, 36, 36);
    min-height: 50vh;
    padding: 8px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-content: center;
    gap: 32px 0;
}

.background-3 p {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
}

footer {
    background-color: rgb(10, 10, 10);
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
}

@media screen and (width <= 512px) {
    footer {
        grid-template-columns: 1fr;
        justify-items: center;
        grid-row-gap: 16px;
    }
}

.back {
    border: 1px solid rgb(66, 170, 255);
    padding: 4px;
}